<!-- Tailwind CSS eg: https://codepen.io/umurkose/pen/RwvMBdr -->
<div class="w-full flex items-center justify-center">
  <div class="min-h-32">
    <div
      x-data="{ activeSlide: 1, slideCount: 3 }"
      class="overflow-hidden relative"
    >
      <!-- Slider -->
      <!-- You can remove x-init if you dont want to autoplay -->
      <div
        class="whitespace-nowrap transition-transform duration-500 ease-in-out"
        :style="'transform: translateX(-' + (activeSlide - 1) * 100.5 + '%)'"
        x-init="setInterval(() => { activeSlide = activeSlide < slideCount ? activeSlide + 1 : 1 }, 5000)"
      >
        <!-- Item 1 -->
        <div class="inline-block w-full">
          <img
            src="{{ 'images/slider1.png' | asset_url }}"
            alt=""
          />
        </div>
        <!-- Item 2 -->
        <div class="inline-block w-full">
          <img
            src="{{ 'images/slider2.png' | asset_url }}"
            alt=""
          />
        </div>
        <!-- Item 3 -->
        <div class="inline-block w-full">
          <img
            src="{{ 'images/slider1.png' | asset_url }}"
            alt=""
          />
        </div>
      </div>

      <!-- Prev/Next Arrows -->
      <div class="absolute inset-0 flex items-center justify-between px-2">
        <button
          @click="activeSlide = activeSlide > 1 ? activeSlide - 1 : slideCount"
          class="w-[30px] h-[30px] flex items-center bg-black/30 text-white p-2 rounded-full"
        >
          &#8592;
        </button>
        <button
          @click="activeSlide = activeSlide < slideCount ? activeSlide + 1 : 1"
          class="w-[30px] h-[30px] flex items-center bg-black/30 text-white p-2 rounded-full"
        >
          &#8594;
        </button>
      </div>

      <!-- Dots Navigation -->
      <div
        class="absolute bottom-0 left-0 right-0 flex justify-center space-x-2 p-4"
      >
        <template x-for="slideIndex in slideCount" :key="slideIndex">
          <button
            @click="activeSlide = slideIndex"
            class="h-2 w-2 rounded-full"
            :class="{'bg-orange-500': activeSlide === slideIndex, 'bg-white/50': activeSlide !== slideIndex}"
          ></button>
        </template>
      </div>
    </div>
  </div>
</div>
