<!DOCTYPE html>
<html lang="{{ site.language }}">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% meta_tags %}
    {{ 'javascripts/main.js' | asset_url | script_tag: defer: true, data-turbo-track: 'reload' }}
    <!-- Tailwind -->
    {{ 'css/main.css' | asset_url | stylesheet_tag: data-turbo-track: 'reload' }}
  </head>
  <body class="h-screen">
    {{ content_for_layout }}
  </body>
</html>
