<div class="">

  <div class="max-w-5xl mx-auto relative flex flex-col sm:flex-row sm:space-x-2 px-3 sm:px-0">
    <div class="w-full space-y-2 lg:space-y-4 mt-12">
      {% assign pages = site.pages['/'].pages_in_list %}
      {% paginate_tag pages, per: 4 %}
        {% for page in pages %}
          {% render "card", page: page %}
        {% else %}
          {% assign empty_i18n = "empty.name" | t %}
          {% render 'empty', message: empty_i18n %}
        {% endfor %}
        {% render 'paginate', paginate: paginate %}
      {% endpaginate_tag %}
    </div>

    <!-- Sidebar Section -->
    {% render 'sidebar', site: site %}
  </div>
</div>

{% schema %}
  {
    "name": "扶뒬못",
    "description": "扶뒬못",
    "preview_image_url": "",
    "sub_page_templates": ["page"]
  }
{% endschema %}
