<div class="overflow-visible h-auto min-h-screen bg-slate-150">
  <div class="max-w-5xl mx-auto relative  flex space-x-2">
    <div class="space-y-2 lg:space-y-4 mt-12 w-0 flex-grow">
      <div class="flex pb-4 pl-2">
        <a class="group flex font-semibold text-sm leading-6 text-slate-700 hover:text-slate-900 dark:text-slate-200 dark:hover:text-white" href="/">
          <svg viewBox="0 -9 3 24" class="overflow-visible mr-3 text-slate-400 w-auto h-6 group-hover:text-slate-600 dark:group-hover:text-slate-300">
            <path d="M3 0L0 3L3 6" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>{{ "index" | t }}
        </a>
      </div>
      <!-- tag name -->
      <div class="rounded shadow-md">
        <div class="h-5 rounded-t" style="background: {{ tag.bg_color }}"></div>
        <div class="text-xl font-black px-3 py-6 bg-white rounded-b">
          {{ tag.name }}
        </div>
      </div>
      <!-- filters by tag name -->
      <ul role="list" class="space-y-3 lg:space-y-5">
        {% paginate_tag tag.pages, as: 'pages' %}
          {% for page in pages %}
            {% render 'card', page: page %}
          {% else %}
            {% assign empty_i18n = "empty.name" | t %}
            {% render 'empty', message: empty_i18n %}
          {% endfor %}
          {% render 'paginate', paginate: paginate %}
        {% endpaginate_tag %}
      </ul>
    </div>

    <!-- Sidebar Section -->
    {% render 'sidebar', site: site %}
  </div>
</div>
