<h2 class="text-3xl text-black text-center block mt-12">Baklib Theme 色卡参考</h2>

<div class="grid grid-cols-7 gap-4 mx-auto w-full max-w-5xl">
    <div>
      <label class="block text-center py-4">primary</label>
      <div class="grid grid-cols-1 gap-1 rounded-lg outline outline-4 outline-gray-100 p-4">
          <div class="h-6 flex items-center justify-center bg-primary-50">50</div>
          <div class="h-6 flex items-center justify-center bg-primary-100">100</div>
          <div class="h-6 flex items-center justify-center bg-primary-200">200</div>
          <div class="h-6 flex items-center justify-center bg-primary-300">300</div>
          <div class="h-6 flex items-center justify-center bg-primary-400">400</div>
          <div class="h-6 flex items-center justify-center bg-primary-500">500</div>
          <div class="h-6 flex items-center justify-center bg-primary-600">600</div>
          <div class="h-6 flex items-center justify-center bg-primary-700">700</div>
          <div class="h-6 flex items-center justify-center bg-primary-800">800</div>
          <div class="h-6 flex items-center justify-center bg-primary-900">900</div>
          <div class="h-6 flex items-center justify-center bg-primary-950">950</div>
          <div class="h-6 flex items-center justify-center bg-primary">DEFAULT</div>
          <div class="h-6 flex items-center justify-center bg-primary-lighten">lighten</div>
          <div class="h-6 flex items-center justify-center bg-primary-darken">darken</div>
      </div>
    </div>
    <div>
      <label class="block text-center py-4">secondary</label>
      <div class="grid grid-cols-1 gap-1 rounded-lg outline outline-4 outline-gray-100 p-4">
          <div class="h-6 flex items-center justify-center bg-secondary-50">50</div>
          <div class="h-6 flex items-center justify-center bg-secondary-100">100</div>
          <div class="h-6 flex items-center justify-center bg-secondary-200">200</div>
          <div class="h-6 flex items-center justify-center bg-secondary-300">300</div>
          <div class="h-6 flex items-center justify-center bg-secondary-400">400</div>
          <div class="h-6 flex items-center justify-center bg-secondary-500">500</div>
          <div class="h-6 flex items-center justify-center bg-secondary-600">600</div>
          <div class="h-6 flex items-center justify-center bg-secondary-700">700</div>
          <div class="h-6 flex items-center justify-center bg-secondary-800">800</div>
          <div class="h-6 flex items-center justify-center bg-secondary-900">900</div>
          <div class="h-6 flex items-center justify-center bg-secondary-950">950</div>
          <div class="h-6 flex items-center justify-center bg-secondary">DEFAULT</div>
          <div class="h-6 flex items-center justify-center bg-secondary-lighten">lighten</div>
          <div class="h-6 flex items-center justify-center bg-secondary-darken">darken</div>
      </div>
    </div>
    <div>
      <label class="block text-center py-4">accent</label>
      <div class="grid grid-cols-1 gap-1 rounded-lg outline outline-4 outline-gray-100 p-4">
          <div class="h-6 flex items-center justify-center bg-accent-50">50</div>
          <div class="h-6 flex items-center justify-center bg-accent-100">100</div>
          <div class="h-6 flex items-center justify-center bg-accent-200">200</div>
          <div class="h-6 flex items-center justify-center bg-accent-300">300</div>
          <div class="h-6 flex items-center justify-center bg-accent-400">400</div>
          <div class="h-6 flex items-center justify-center bg-accent-500">500</div>
          <div class="h-6 flex items-center justify-center bg-accent-600">600</div>
          <div class="h-6 flex items-center justify-center bg-accent-700">700</div>
          <div class="h-6 flex items-center justify-center bg-accent-800">800</div>
          <div class="h-6 flex items-center justify-center bg-accent-900">900</div>
          <div class="h-6 flex items-center justify-center bg-accent-950">950</div>
          <div class="h-6 flex items-center justify-center bg-accent">DEFAULT</div>
          <div class="h-6 flex items-center justify-center bg-accent-lighten">lighten</div>
          <div class="h-6 flex items-center justify-center bg-accent-darken">darken</div>
      </div>
    </div>
    <div>
      <label class="block text-center py-4">info</label>
      <div class="grid grid-cols-1 gap-1 rounded-lg outline outline-4 outline-gray-100 p-4">
          <div class="h-6 flex items-center justify-center bg-info-50">50</div>
          <div class="h-6 flex items-center justify-center bg-info-100">100</div>
          <div class="h-6 flex items-center justify-center bg-info-200">200</div>
          <div class="h-6 flex items-center justify-center bg-info-300">300</div>
          <div class="h-6 flex items-center justify-center bg-info-400">400</div>
          <div class="h-6 flex items-center justify-center bg-info-500">500</div>
          <div class="h-6 flex items-center justify-center bg-info-600">600</div>
          <div class="h-6 flex items-center justify-center bg-info-700">700</div>
          <div class="h-6 flex items-center justify-center bg-info-800">800</div>
          <div class="h-6 flex items-center justify-center bg-info-900">900</div>
          <div class="h-6 flex items-center justify-center bg-info-950">950</div>
          <div class="h-6 flex items-center justify-center bg-info">DEFAULT</div>
          <div class="h-6 flex items-center justify-center bg-info-lighten">lighten</div>
          <div class="h-6 flex items-center justify-center bg-info-darken">darken</div>
      </div>
    </div>
    <div>
      <label class="block text-center py-4">success</label>
      <div class="grid grid-cols-1 gap-1 rounded-lg outline outline-4 outline-gray-100 p-4">
          <div class="h-6 flex items-center justify-center bg-success-50">50</div>
          <div class="h-6 flex items-center justify-center bg-success-100">100</div>
          <div class="h-6 flex items-center justify-center bg-success-200">200</div>
          <div class="h-6 flex items-center justify-center bg-success-300">300</div>
          <div class="h-6 flex items-center justify-center bg-success-400">400</div>
          <div class="h-6 flex items-center justify-center bg-success-500">500</div>
          <div class="h-6 flex items-center justify-center bg-success-600">600</div>
          <div class="h-6 flex items-center justify-center bg-success-700">700</div>
          <div class="h-6 flex items-center justify-center bg-success-800">800</div>
          <div class="h-6 flex items-center justify-center bg-success-900">900</div>
          <div class="h-6 flex items-center justify-center bg-success-950">950</div>
          <div class="h-6 flex items-center justify-center bg-success">DEFAULT</div>
          <div class="h-6 flex items-center justify-center bg-success-lighten">lighten</div>
          <div class="h-6 flex items-center justify-center bg-success-darken">darken</div>
      </div>
    </div>
    <div>
      <label class="block text-center py-4">warning</label>
      <div class="grid grid-cols-1 gap-1 rounded-lg outline outline-4 outline-gray-100 p-4">
          <div class="h-6 flex items-center justify-center bg-warning-50">50</div>
          <div class="h-6 flex items-center justify-center bg-warning-100">100</div>
          <div class="h-6 flex items-center justify-center bg-warning-200">200</div>
          <div class="h-6 flex items-center justify-center bg-warning-300">300</div>
          <div class="h-6 flex items-center justify-center bg-warning-400">400</div>
          <div class="h-6 flex items-center justify-center bg-warning-500">500</div>
          <div class="h-6 flex items-center justify-center bg-warning-600">600</div>
          <div class="h-6 flex items-center justify-center bg-warning-700">700</div>
          <div class="h-6 flex items-center justify-center bg-warning-800">800</div>
          <div class="h-6 flex items-center justify-center bg-warning-900">900</div>
          <div class="h-6 flex items-center justify-center bg-warning-950">950</div>
          <div class="h-6 flex items-center justify-center bg-warning">DEFAULT</div>
          <div class="h-6 flex items-center justify-center bg-warning-lighten">lighten</div>
          <div class="h-6 flex items-center justify-center bg-warning-darken">darken</div>
      </div>
    </div>
    <div>
      <label class="block text-center py-4">error</label>
      <div class="grid grid-cols-1 gap-1 rounded-lg outline outline-4 outline-gray-100 p-4">
          <div class="h-6 flex items-center justify-center bg-error-50">50</div>
          <div class="h-6 flex items-center justify-center bg-error-100">100</div>
          <div class="h-6 flex items-center justify-center bg-error-200">200</div>
          <div class="h-6 flex items-center justify-center bg-error-300">300</div>
          <div class="h-6 flex items-center justify-center bg-error-400">400</div>
          <div class="h-6 flex items-center justify-center bg-error-500">500</div>
          <div class="h-6 flex items-center justify-center bg-error-600">600</div>
          <div class="h-6 flex items-center justify-center bg-error-700">700</div>
          <div class="h-6 flex items-center justify-center bg-error-800">800</div>
          <div class="h-6 flex items-center justify-center bg-error-900">900</div>
          <div class="h-6 flex items-center justify-center bg-error-950">950</div>
          <div class="h-6 flex items-center justify-center bg-error">DEFAULT</div>
          <div class="h-6 flex items-center justify-center bg-error-lighten">lighten</div>
          <div class="h-6 flex items-center justify-center bg-error-darken">darken</div>
      </div>
    </div>
</div>
