<div class="m-auto w-full max-w-5xl mt-10">
  <h1 class="text-4xl text-center mb-10">产品报价</h1>

  <div class="grid grid-cols-3 gap-10">
    <div class="rounded-lg bg-blue-100 p-8">
      <h2>基础版</h2>
      <p>适合个人使用</p>
      <a href="{{statics['pricing/basic']}}" class="rounded px-2 py-1 bg-primary text-white">立即购买</a>
    </div>
    <div class="rounded-lg bg-blue-100 p-8">
      <h2>专业版</h2>
      <p>适合团队使用</p>
      <a href="{{statics['pricing/advanced']}}" class="rounded px-2 py-1 bg-primary text-white">立即购买</a>
    </div>
    <div class="rounded-lg bg-blue-100 p-8">
      <h2>企业版</h2>
      <p>适合企业使用</p>
      <a href="{{statics['pricing/contact-us']}}" class="rounded px-2 py-1 bg-primary text-white">联系我们</a>
    </div>
  </div>
</div>
